<div class="p-5 col-md-6">

<p>
  forget-password:
</p>
<form [formGroup]="emailForm" (ngSubmit)="onSend(emailForm)" novalidate>
    <div class="form-group">
        <input class="form-control col-10" type="email" placeholder="Email" formControlName="email" [ngClass]="{'is-valid': emailForm.controls.email.valid && emailForm.controls.email.dirty, 'is-invalid': emailForm.controls.email.invalid && emailForm.controls.email.dirty}">
        <div class="invalid-feedback " *ngIf="emailForm.controls.email.hasError('required') && emailForm.controls.email.touched">
          email is required!
        </div>
        </div>

        <button type="submit" class="btn  btn-primary"  [disabled]="!emailForm.valid"
        [ngClass]="{'disabled':!emailForm.valid}">
        Send Email
      </button>
</form>
</div>