  <div class="col-md-6">
  <p>
    Reset Password
  </p>
  <form [formGroup]="resetPasswordForm" (ngSubmit)="onResetPassword()" novalidate>
    <div class="form-group">
      <label class="center-block">Password:</label>
      <input class="form-control" formControlName="password" type="password" (keydown.space)="$event.preventDefault()">

      <div class="error-description">
        <p *ngIf="resetPasswordForm.controls['password'].hasError('required') && resetPasswordForm.controls['password'].touched ">*
          Password is required. </p>
        <p *ngIf="resetPasswordForm.controls['password'].hasError('minlength') && resetPasswordForm.controls['password'].touched ">*
          Password should be at least 4 characters long </p>
      </div>
    </div>

    <button type="submit" class="btn  btn-primary" [disabled]="!resetPasswordForm.valid" [ngClass]="{'disabled':!resetPasswordForm.valid}">
      Reset password
    </button>
  </form>
</div>